@model AuctionItemDto
@inject SignInManager<AuctionUser> SignInManager

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="@Model.ItemImages" class="img-fluid" alt="Product Image">
        </div>
        <div class="col-md-6">
            <h2>@Model.itemName</h2>
            <h5 class="text-muted">@Model.ItemTags</h5>
            <p>@Model.itemDescription</p>
            <label for="seller">Seller:</label>
            <a asp-area="Users" asp-page="/SellerPage" asp-route-userId="@Model.sellerUserId">@Model.sellerUser.UserName</a>
            <div class="d-flex justify-content-between">
                <div>
                    <h5 class="text-muted">Starting Bid:</h5>
                    <h4>@Model.Bids.First().BidAmount</h4>
                </div>
                <div>
                    <h5 class="text-muted">Current Bid:</h5>
                    <h4>@Model.Bids.Last().BidAmount</h4>
                </div>
            </div>
            <div>
                <h5 class="text-muted">Ends in:</h5>
                <h4>@string.Format("{0}d {1}h {2}m", ((TimeSpan)(Model.itemEndDate - DateTime.Now)).Days, ((TimeSpan)(Model.itemEndDate - DateTime.Now)).Hours, ((TimeSpan)(Model.itemEndDate - DateTime.Now)).Minutes)</h4>
            </div>
            <form method="post" asp-controller="AuctionItem" asp-action="PlaceBid" asp-route-itemId="@Model.Id" asp-route-bid="">
                <input type="hidden" name="productId" value="@Model.Id" />
                <div class="form-group">
                    <label for="bidAmount">Bid Amount:</label>
                    <input type="number" class="form-control" name="bid" id="bid" min="@Model.Bids.Last().BidAmount + 1" step="1" required value="@Model.Bids.Last().BidAmount+1" />
                </div>
                @if (SignInManager.IsSignedIn(User))
                {
                    <button type="submit" class="btn btn-primary">Place Bid</button>
                    <a class="btn btn-primary" asp-controller="Feedback" asp-action="Create" asp-route-userId="@Model.sellerUser.Id" asp-route-itemId="@Model.Id"> Give Feedback</a>
                }
                else
                {
                    <a class="btn btn-primary" asp-area="Users" asp-page="/Account/Login">Place Bid</a>
                }
                @if (!ViewContext.ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger">
                        <ul>
                            @foreach (var error in ViewContext.ViewData.ModelState.Values.SelectMany(v => v.Errors))
                            {
                                <li>@error.ErrorMessage</li>
                            }
                        </ul>
                    </div>
                }
            </form>
        </div>
    </div>
</div>

<style>
    .img-fluid {
        max-width: 100%;
        height: auto;
    }

    h2 {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    h4 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: 0.5rem;
        margin-bottom: 0;
    }

    .text-muted {
        color: #6c757d;
    }

    form {
        margin-top: 1rem;
    }
</style>