@model AdministrationPanelModel

@{
    ViewData["Title"] = "AuctionItemIndex";
}

<h1>AuctionItemIndex</h1>

<p>
    <a asp-controller="AuctionItem" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Item Name
            </th>
            <th>
                Item Description
            </th>
            <th>
                Starting Bid
            </th>
            <th>
                Current Bid
            </th>
            <th>
                Date Activated
            </th>
            <th>
                Date Ending
            </th>
            <th>
                Is Active
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.itemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.itemDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.startingBid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.currentBid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.itemActivatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.itemEndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isActive)
                </td>
                <td>
                    <a asp-controller="AuctionItemAdministration" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-controller="AuctionItemAdministration" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a asp-controller="AuctionItemAdministration" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
