@page
@model AuctionApp.Areas.Users.Pages.SellerPageModel
@{
}

<div class="container-fluid">
    <h1>Account Information</h1>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h3>@Model.AuctionUser.UserName</h3>
                </div>
                <div class="card-body">
                    <p><strong>Email:</strong> @Model.AuctionUser.Email</p>
                    <p><strong>Username:</strong> @Model.AuctionUser.UserName</p>
                    <p><strong>Seller rating:</strong> TODO</p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <h1>Auction Items</h1>
    <hr>
    <div class="row">
        @foreach (var item in Model.AuctionItems)
        {
            <div class="col-md-4">
                <div class="card mb-4">
                    <img class="card-img-top" src="@item.ItemImages" alt="@item.itemName">
                    <div class="card-body">
                        <div class="thumb-content">
                            <h4>@item.itemName</h4>
                            <p class="item-price"><span>Highest bid: @item.Bids.Last().BidAmount</span></p>
                            <label for="timeRemaining"> Time remining: </label>
                            <p id="timeRemaining"><span>@string.Format("{0}d {1}h {2}m", ((TimeSpan)(item.itemEndDate - DateTime.Now)).Days, ((TimeSpan)(item.itemEndDate - DateTime.Now)).Hours, ((TimeSpan)(item.itemEndDate - DateTime.Now)).Minutes)</span></p>
                            <a asp-controller="AuctionItem" asp-action="AuctionPage" asp-route-itemId="@item.Id" class="btn btn-primary">View auction</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <h1>Seller Feedback</h1>
    <hr>
    <hr>
</div>
